output/imagegen/americano.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/caffe-latte.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/espresso.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/lungo.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/my-coffee.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/smily.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/chilled-americano.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/cloud.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/frothy-milk.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/hot-milk.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/water.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/cappuccino.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/chilled-espresso.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/coffee.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/macchiato.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/sun.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/undefined.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/warm-milk.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/chilled-lungo.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/creme.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/flower.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/heart.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/milk.png filter=lfs diff=lfs merge=lfs -text
output/imagegen/star.png filter=lfs diff=lfs merge=lfs -text
